/*
 * pipeline input parameters
 */

params {
    reads                                 = null
    outdir                                = "${projectDir}/results"
    bowtie2_index                         = "${projectDir}/data/genome/TAIR10/TAIR10"
    kraken2_db                            = "${projectDir}/data/krakendb"
    sheet_csv                             = null
    report                                = "${projectDir}/bin/report.Rmd"
}

report {
    enabled = true
    file = "${projectDir}/results/performance_report.html"
    overwrite = true
}

// Enable using docker as the container engine to run the pipeline
docker.enabled = true
